@import url(../blocks/footer/__column/_content/footer__column_content_copyright.css);
.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
