@import url(../blocks/cards/__description/cards__description.css);
.cards__description {
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding-top: 16px;
}
