@import url(../blocks/feynman/__link/feynman__link.css);
.feynman__link {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  color:  #2f80ed;
  text-decoration: none;
  transition: opacity 0.4s;
}

.feynman__link:hover {
  opacity: 60%;
}
