@import url(../blocks/khan/__quote-author-subline/khan__quote-author-subline.css);
.khan__quote-author-subline {
  font-size: 24px;
  line-height: 1.15;
  font-weight: normal;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 68px;
}
